@font-face {
    font-family: 'monts1';
    src: url(../font/Montserrat-VariableFont_wght.ttf);
}
@font-face {
    font-family: 'monts2';
    src: url(../font/Montserrat-Italic-VariableFont_wght.ttf);
}
@font-face {
    font-family: 'Inter1';
    src: url(../font/InterTight-VariableFont_wght.ttf);
}
@font-face {
    font-family: 'Inter2';
    src: url(../font/InterTight-Italic-VariableFont_wght.ttf);
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'monts1';
}
*::-webkit-scrollbar{
    width: 4px;
    background-color: #c7c7c7;
}
*::-webkit-scrollbar-thumb{
    width: 2px;
    background-color: #fcfcfc91;
    border-radius: 5px;
}
body{
    line-height: 1.7;
    /* height: 100vh; */
    position: relative;
    flex-direction: column;
    /* overflow: hidden; */
    /* display: flex;    */
}

i{
    color: gray ;
}




.mainbody{
    display:flex ;
    flex: 1 1 auto;
    overflow: hidden;
    width:100%;
    height: 100vh;
}
aside{
    height: 100%;
    width:5%;
    display: flex;
    flex-direction: column;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}
aside :is(div .iconsdem){
    height: 100%;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    padding-top: 1em;
    gap: 2em;
}
.iconsdem span{
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #eee;
    cursor: pointer;
}
.iconsdem span:hover{
    background-color: #d1e7dd;
    transition: background-color 0.3s ease;
}
.iconsdem figure{
    overflow: hidden;
    cursor: pointer;
    position: relative;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #eee;
}
.iconsdem figure img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: top;
}
main{
    height: 100%;
    width: 95%;
    display: flex;
    overflow: hidden;
}
main .user{
    height: 100%;
    width: 30%;
    display: flex;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    flex-direction: column;
}
main .chat_area{
    height: 100%;
    width: 70%;
    display: flex;
    background:url('../Super icons/word5.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.user .navbar{
    height: 55px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid rgb(211, 211, 211);
}
.navbar :is(.newsmargin){
    overflow: hidden;
    background-color: #eee;
    align-items: center;
    display: flex;
    border-radius: 10px;
    padding: 0 4px;
    height: 35px;
    width: 90%;
    gap: 4px;
    margin: 5px 0 ;
}
.newsmargin input{
    border: none;
    font-weight: 600;
    outline: none;
    background-color: #eee;
    font-size: .8em;
    padding: 13px 10px;
    width: 90%;
    color: gray;
}
.user .secondusers{
    height: 100%;
    width: 100%;
    overflow-y: auto;
    padding: 2%;
    align-items: center;
    flex-direction: column;
    flex: 1;
}
.secondusers .individualchat{
    width: 100%;
    height: 67px;
    display: flex;
    border-radius: 10px;
    align-items: center;
    cursor: pointer;
    margin-bottom: .2em;
}
.secondusers .individualchat:hover{
    /* background-color: #d8d5d591; */
    background-color: #c1bcbc91;
    cursor: pointer;
    transition: background-color .4s ease-in-out;
}
.secondusers .individualchat figure{
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
    border-radius: 50%;
}
.secondusers .individualchat figure img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: top;
}
div :is(div .username_chat){
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 100%;
    justify-content: space-evenly;
}
.username_chat h3{
    font-size: .9em;
    color: rgb(95, 93, 93);
    overflow:hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.username_chat p{
    font-size: .8em;
    font-weight: 500;
    color: gray;
    overflow: hidden;
    white-space: nowrap;
    text-overflow:ellipsis;
}

div :is(div .times){
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 100%;
    align-items: center;
}
.ToRemovethis{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: #eee;
    cursor: pointer;
    position: absolute;
    top: 2%;
    right: 2%;
    z-index: 122;
}
.mansnd{
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
}
.times p{
    
    
    font-size: 10px;
    font-weight: 500;
    color: rgb(95, 93, 93);
    
    overflow: hidden;
    white-space: nowrap;
    text-overflow:ellipsis ;
    align-items: center;
}
.times span{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.times span span{
    align-items: center;
    justify-content: center;
    display: flex;
    width: 10px;
    height: 10px;
    /* background-color: #0a70ea; */
    color: white;
    border-radius: 50%;
}
.unread-indicator{
    background-color: #0a70ea;
}
.chat_area :is(div .container){
    flex: 1 1 auto;
    display: flex;
    position:relative;
    background-color: #eeeeee00;
    flex-direction: column;
}
.followby{
    /* height: 59px; */
    /* width: 100%; */
    display: flex;
    padding: 3px 0;
    border-bottom: 2px solid rgb(211, 211, 211);
    background-color: #ffffff;
}
.currentchatterinfor{
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 1em;
    gap: 5px;
}
.currentchatterinfor figure {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}
.signs{
    width:100%;
    height:100%; 
    position: absolute;
    top: 0; 
    left: 0; 
    z-index: 20; 
}
.dwells{
    display: flex;
}
.naturea{
    display: none;
}
.currentchatterinfor figure img {
    height: inherit;
    width: inherit;
    object-fit: cover;
    object-position: top;
}
.currentchatterinfor span{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    display: none;
    background-color: #eee;
    cursor: pointer;  
    margin-right:1.5em ;  
    z-index: 122;
}
.chattername {
    display: flex;
    flex-direction: column;
}
.chattername h3 {
    font-size: .9em;
    color: rgb(95, 93, 93);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.chattername p {
    font-size: .8em;
    font-weight: 500;
    color: gray;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.followby :is(div.frocalliconsmore) {
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1em;
    padding-right: 1em;
}


.frocalliconsmore span {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: #eee;
    cursor: pointer;
}

.chatlies{
    height:100%;
    width: 100%;
    display: flex;
    flex: 1;
    /* overflow-y: hidden; */
    overflow: hidden;
}
.chatlies :is(div .chatlies1){
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column; 
    overflow-y: auto;
    transition: none;
}
.chatlies1 .replyer{
    width: 100%;
    max-width: 100%;
    display: flex;
    height: auto;
    
}

.chatlies1 .user_response{
    height: auto;
    max-width: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-end !important;
}
.flowsa{
    max-width: 50%;
    height: auto;
    display: flex;
    padding: .5em 1em;
    /* background-color: #0a70ea; */
}
.flowsa0{ 
    display: flex;
    height: auto;
    width: 100%;
    font-size: .8em;
    background-color: #0a70ea;
    color:white;
    font-weight: 600;
    padding: .8em .6em 1em .6em;
    flex-direction: column;
    border-top-left-radius: 2em;
    overflow: hidden;
    border-bottom-left-radius: 2em;
    position: relative;
    border-top-right-radius: 2em;
    align-items: center;
}
.flowsa0 p{
    height: 90%;
    width: 100%;
    word-wrap: break-word;
}
.flowsa0  h6{
    display: flex;
    width: 100%;
    height: 10%;
    justify-content: flex-end;
    align-items: center;
    text-align: right;
}
.flowsa0 utitbest{
    color: white;
    font-size: 10px;
    font-weight: 500;
    overflow:hidden;
    white-space: nowrap;
    text-overflow: ellipsis ;
}

.flowsa0 utitno {
    color: white;
    font-size: 10px;
    width: 400px;
    width: 255px;
    text-align: center;
    font-weight: 500;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.flowsa1{ 
    display: flex;
    height: auto;
    width: 100%;
    font-size: .8em;
    background-color: white;
    color:rgb(95, 93, 93);
    font-weight: 600;
    padding: .8em .6em 1em .6em;
    flex-direction: column;
    border-top-left-radius: 2em;
    border-bottom-right-radius: 2em;
    position: relative;
    overflow: hidden;
    border-top-right-radius: 2em;
    align-items: center;
}
.flowsa1 p{
    height: 90%;
    width: 100%;
    word-wrap: break-word;
}
.flowsa1  h6{
    display: flex;
    width: 100%;
    height: 10%;
    justify-content: flex-end;
    align-items: center;
    text-align: right;
    gap: 3px;
}

.flowsa1 utitbest{
    color: gray;
    font-size: 10px;
    font-weight: 500;
    overflow:hidden;
    white-space: nowrap;
    text-overflow: ellipsis ;
}

.flowsa1 utitno {
    color: gray;
    font-size: 10px;
    width: 255px;
    font-weight: 500;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}



.theInputsEtc{
    /* height: 57px; */
    /* width: 100%; */
    background-color: #eee;
}
.theInputsEtc .inputing{
    height: 100%;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.theInputsEtc .inputing1{
    height: 100%;
    width: 20%;
    align-items: center;
}
.inputing .selmm{
    display: flex;
    height: 80%;
    width: inherit;
    position: relative;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow:-2px 2px 4px 0px #cbcbcb;
}
.inputing .selmm .emojisicons{
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 1.3em;
    width: 10%; 
    /*height: 100%; */
    border-radius: 10px;
    color: gray;
    padding: 2px;
    font-weight: 600;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}
.inputing .selmm p:hover{
    background-color: #d1e7dd;
    transition: background-color 0.3s ease;
}
#messageinput1{
    width: 80%;
    height: 75%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-self: center;
    
}
#messageinput{
    outline: none;
    border: none;
    /* height: 100%;*/
    width: 100%;
    padding: 0 .5em;
    border-radius: 10px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    word-break: break-word;
    white-space: pre-wrap;
    background: none;
    cursor: text;
    display: flex;
    resize: none;
    align-items: center;
    overflow-y: auto;
    color:#605c5c;
    font-weight: 600;
}
.inputing .selmm button{
    font-size: 1.3em;
    color: white;
    margin-left: 1em;

    background-color: #3f6bde ;
    align-items: center;
    justify-content: center;
    display: flex;
    cursor: pointer;
    user-select: none;
    outline: none;
    border: none;
    padding: 12px;
    -webkit-user-select: none;
    -moz-user-select: none;
}
.inputing .selmm button i{
    color: white;
}
.inputing1 i{
    color: gray;
    font-size: 1.3em;
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    display: flex;
}
/* FOR ALL DROP DOWN IN THE SITE */

.dropdown1{
    position:absolute;
    display:flex;
    bottom:10%;
    opacity: 1;
    border-radius: 10px;;
    right:1.6em;
    border-radius: 5px;
    background-color:#ffffff;
    transition: 1s linear;
}
.dropdown1 .dropdown2{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: .3em;
    justify-content: center;
}
.dropdown1 .dropdown2 li{
    list-style: none;
    padding:0 .8em;
    font-size: .9em;
    border-radius: 5px;
    font-weight: 500;
    cursor: pointer;
    color: rgb(85, 84, 84);
}
.dropdown1 .dropdown2 li:hover{
    background-color: #d8d5d591;
}
.insidehide{
    transition: 2s linear;
    display: none !important;
    opacity: 0;
}
.outsideshow{
    display: flex;
    transition: 1.5s linear;
    bottom:10%;
    animation: spirit 0.2s linear ;
}
@keyframes spirit {
    0%{
        opacity: 0;
    }50%{
        opacity: 0.5;
    }100%{
        opacity: 1;
    }
}

/* setting popup begins here */
.settingsPopup{
    display:flex;
    width:400px;
    height: 440px;
    position:absolute;
    bottom: 3.7em;
    left: -10em;
    border-radius: 10px;
    overflow: hidden;
    z-index: 40;
    /* transition: 2s linear; */
}
.steeze{
    left: -100em;
    transition: 1.5s linear;
}
.steeze1{
    left: .8em;
    transition: 0.5s linear;
}
.settingsPopup .settingsPopup1{
    display: flex;
    height: 100%;
    width: 100%;
    justify-content:center;
}
.settingsPopup1 .contnet1{
    height: 100%;
    width: 30%;
    background: #eee;
    flex-direction: column;
    display: flex;
    padding: .5em;
    gap: .5em;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}
.settingsPopup1 .contnet2{
    height: 100%;
    width: 70%;
    display: flex;
    overflow: hidden;
    position: relative;
    background: #ffffff;
}
.containerRpy{
    display: flex;
    overflow: hidden;
    justify-content: center;
    width: 100%;
    height: 100%;    
}
.settingsPopup1 .contnet1 .listOfcontents{
    display: flex;
    width: 100%;
    align-items: center;
    font-size: 15px;
    color: rgb(95, 93, 93);
    font-weight: 600;
    gap: 5px;
    border-radius: 7px;
    justify-content: space-around;
    cursor: pointer;
    padding:.3em .2em;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.settingsPopup1 .contnet1 .listOfcontents:hover{
    background-color: #d8d5d591;
}
.Profile_i{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1em;
    overflow-y: auto;
    align-items: center;
}

.Profile_i label{
    height: 65px;
    width: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    border-radius: 50%;
    overflow: hidden;
    z-index: 12;
}
.Profile_i label img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: top;
}
.Profile_i label .rr{
    position: absolute;
    bottom: 10%;
    right: 40%;
    display: none;
    color: white;
}
.Profile_i label img:hover + .rr{
    display: flex;

}
.Profile_i input{
    display: none;
}
.Profile_i :is(div .namecoms){
    display: flex;
    width: 100%;
    padding: .5em 0;
    flex-direction: column;
}
.namecoms .informs{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .2em;
    background-color:#eee;
    border-radius: .7em;
}
.informs span{
    width: 10%;
    align-items: center;
    justify-content: center;
    display: flex;
    cursor: pointer;
    padding: .5em;
    border-radius: 5px;
    background-color: #ffffff;
    z-index: 100;
}
.Profile_i h2{
    width: 100%;
    align-items: center;
    display: flex;
    color: gray;
    padding-left: 1em;
    margin-bottom: .5em;
}
.informs p{
    font-size: 1em;
    font-weight: 600;
    width: 90%;
    color: rgb(75, 74, 74);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.Profile_i :is(div .phoneNo){
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1em 0;
}
.namecoms button{
    padding: 1em;
    outline: none;
    border: none;
    color:rgb(255, 255, 255) ;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    background-color:#3f6bde ;
    font-weight: 600;
}
.Chat{
    overflow-y: auto;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Chat h2{
    width: 100%;
    align-items: center;
    display: flex;
    padding-left: 1em;
    color: gray;
    margin-bottom: 1.4em;
}
.Chat button{
    padding: 1em .5em;
    width: 80%;
    outline: none;
    border: none;
    color:rgb(255, 255, 255) ;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    justify-content: center;
    display: flex;
    background-color:#3f6bde ;
    font-weight: 600;
}
.Chat p{
    width: 80%;
    font-size: .7em;
    font-weight: 600;
    color: gray;
}
.vid_voce{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    overflow-y: auto;
}
.vid_voce h2{
    width: 100%;
    align-items: center;
    display: flex;
    padding-left: 1em;
    color: gray;
    margin-bottom: .7em;
}
.vid_voce h5{
    width: 100%;
    align-items: center;
    display: flex;
    padding-left: 1em;
    color: gray;
}
.vid_voce .testingmicro{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 1em;
    background-color: #eee;
    width: 80%;
    margin-left: 1em;
    padding: .5em .0em .5em .5em;
    cursor: pointer;
    border-radius: 5px;
}
.testingmicro h5{
    color: gray;
    padding-left: 0;
}
.vid_voce .testingmicro1{
    flex-direction: column;
    display: flex;
    margin-top: .3em;
    width: 100%;
}
.testingmicro1 div{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.vid_voce .speakers{
    width: 100%;
    margin-top: 1em;
    flex-direction: column;
    display: flex;
}
.Xbass{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 1em;
    background-color: #eee;
    width: 80%;
    margin-left: 1em;
    padding: .5em .0em .5em .5em;
    cursor: pointer;
    border-radius: 5px;
}
.speakers button{
    margin: auto;
    width: 70%;
    background-color: #0a70ea;
    color: white;
    padding: .8em .5em;
    margin-top: .4em;
    font-size: .7em ;
    font-weight: 600;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 5px;
}
.Customize{
    height: 100%;
    display: flex;
    width: 100%;
    align-items: center;
    position: relative;
    flex-direction: column;
    justify-content: center;
    color: gray;
}
.Customize p{
    position: absolute;
    top: .1em;
    font-size: 70px;
}
.online {
    background-color: blue;
}

.offline {
    background-color: gray;
}

.updater{
    position: absolute;
    padding: .1em .5em;
    background-color: #0a70ea;
    border-radius: .4em;
    bottom: 3.5em;
    left: 1em;
}
.updater p{
    color: white;
    font-weight: 600;
}
.spnman{
    display: none;
}
.spnman1{
    display: none;
}
.spnman11{
  display: none;
}
.somep{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: .8em;
    color: gray;
    width: 100%;
    font-weight: 500;
}
.preview{
    width: 400px;
    height: auto;
    display: flex;
    align-items: center;
    position: absolute;
    justify-content: center;
    padding: .5em .8em;
    flex-direction: column;
    overflow-y: auto;
    transition: 1s linear;
    background-color: #ffffff;
    border-radius:.7em;
    bottom: 3em;
    right: 3em;
}
.exiting{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 1%;
    cursor: pointer;
    position: absolute;
    top: 1%;
    background-color: #eee;
    z-index: 5;
}
.tweek{
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 1em;
    width: 100%;
}
.newsendbuds{
    height: 30px;
    width: 55px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    border-radius: .5em;
    align-items: center;
    background-color: #3f6bde;
    font-weight: 600;
    border: none;
    outline: none;
    color: white;

}
.animationprogress{
    height: 50px;
    width: 0;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border-radius: 10px;
    transition: 1s linear;
    background-color: #3f6bde;
    position: relative;
    color: white;
    font-size: 10px;
    font-weight: 600;
    text-align: center;
}

.newmedia{
    height: 100vh;
    width: 100%;
    display: flex;
    position: absolute;
    z-index: 200;
    transition:1s linear;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(5px);
    background-color: rgb(26 27 27 / 91%);
}
.newmedia figure{
    height: 95%;
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.imgMan{
    transition: 2s linear;
    object-fit: contain;
    display: flex;
    width: 100%;
    height: 100%;
}

.remover {
    position: absolute;
    width: 40px;
    height: 40px;
    left: 1%;
    top: 1%;
    background-color: #eee;
    border-radius: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content:center ;
}

.usertagColor{
    background-color: #eee;
}

.audiomessageTag{
    height: 50px;
    width:255px;
    display: flex;
    background-color: #605c5c;
    border-radius: .5em;
    align-items: center;
}
.playButton{
    height: 100%;
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: groove; */
}
.playButton .invie{
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    background-color: #0a70ea;
}
.playButton .invie i{
    color: white !important;
}
.rangewrap{
    height: 100%;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ProgressContain{
    width: 100%;
    height: 10px;
    background-color: #eee;
    border-radius: 5px;
    overflow: hidden;
}
.timeNull{
    width: 15%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    color:white;
}
.ProgressContain span{
    height: 100%;
    background-image: linear-gradient(to right, #0a70ea, #999999, transparent);
    background-size: 10px 10px; 
    width: 0;
    display: flex;
    border-radius: 5px;
    transition: width 0.3s ease;
}
.videoMessageTag{
    width: 300px;
    display: flex;
    height: 400px;
    flex-direction: column;
    position: relative;
    align-items: center;
    overflow: hidden;
}
.towrapImage{
    height: 400px;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.videoman{
    display: none;
    position: absolute;
    margin: auto;
    font-size: 50px;
    top: 50%;
    left: 50%;
    cursor: pointer;
    transform: translate(-50%, -50%);
    /* z-index: 100; */
}
.videoman i{
    color: white !important;
}
.videoplayer{
    width: 100%;
    height: 95%;
    display: flex;
    border-radius: 1.8em;
    object-fit: contain;
}

.ForVoiceChat{
    height:80%;
    display:flex;
    align-items: center;
    justify-content: center;
    width:inherit;
    background-color: white;
    border-radius: 5px;
    overflow: hidden;
}
.Secondnew{
    height: 90%;
    width:98%;
    display: flex;
    align-items: center;
    border-radius: 3px;
}
.ThirdElement{
    transition: width 0.3s ease;
    background-image: linear-gradient(to right, #0a70ea, #999999, transparent);
    background-size: 10px 10px;
    width: 0;
    height: 100%;
    border-radius: 5px;
}
.collorback{
    background-color: #d8d5d591;
}
.toPreviewImageMessage{
    height: 100vh;
    width: 100%;
    display: none;
    position: absolute;
    z-index: 200;
    transition: 1s linear;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(5px);
    background-color: rgb(26 27 27 / 91%);
}
.toPreviewImageMessage1{
    height: 95%;
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.thumbnails {
    position: absolute;
    width: 35px;
    height: 35px;
    left: 1%;
    top: 1%;
    background-color: #eee;
    border-radius: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: center;
}
.ingell{
    transition: 2s linear;
    object-fit: contain;
    display: flex;
    width: 100%;
    height: 100%;
}
